<app-filter-bar></app-filter-bar>
<!-- UIkit SECTION -->
<div id="right-col" class="uk-section uk-section-default">
  <div class="uk-container">
    <div class="uk-margin uk-grid-small uk-child-width-1-3@s uk-text-center" uk-grid>
      <span *ngFor="let product of products">
        <!-- | filterByBrand: selectedBrand -->
        <div>
          <div class="uk-animation-toggle" tabindex="0">
            <div class="uk-margin uk-card uk-card-default uk-card-hover uk-animation-shake">
              <div class="uk-card-media-top">
                <img src="{{ product.images }}" />
              </div>
              <div class="uk-card-body">
                <h3 class="uk-card-title">{{ product.name }}</h3>
                <p>{{ product.description }}</p>
                <p class="addtocart">
                  <span class="price">&#8377;{{ product.price }}</span>
                  <span class="addcart" uk-icon="cart"></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </span>
    </div>
  </div>
</div>
