.uk-card-default {
  background: #fff;
  color: #666;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

h2,
.pname,
.pdesc,
.pcat {
  text-align: left;
}

.pname {
  border-top: 1px solid #DCDCDC;

}

img {
  height: 350px !important;
  width: auto !important;
}

.uk-button-danger {
  background-color: #f0506e;
  color: #fff;
  margin: 0px 15px 0px 0px !important;
  padding: 6px 25px 6px 25px !important;
  border: 1px solid transparent;
}

.pcat,
.ppri,
.pprod {
  padding: 20px 0px 20px 0px;
  color: #000000;
  display: flex;
}

.content {
  padding: 0px 0px 0px 31px;
}

.pname,
.pdesc,
.ppri,
.pcat {
  border-bottom: 1px solid #DCDCDC;
  padding: 20px 0px 10px 0px;
  color: #000000;
  display: flex;
}
