<form [formGroup]="filterForm">
  <aside id="left-col" class="uk-section uk-section-default uk-light">
    <ul class="uk-list">
      <li>
        <div class="uk-block">
          <span>By Category</span>
        </div>
        <div>
          <select formControlName="categoryId">
            <option value="null">All Categories</option>
            <option *ngFor="let category of categories " [value]="category.id" [innerHtml]="category.name">
            </option>
          </select>
        </div>
      </li>
      <li>
        <div class="uk-block">
          <span>By Brand</span>
        </div>
        <div>
          <select formControlName="brandId">
            <option value="null">All Brands</option>
            <option *ngFor="let brand of brands" [value]="brand.id" [innerHtml]="brand.name"></option>
          </select>
        </div>
      </li>
      <li>
        <div class="uk-block">
          <span>Sort by</span>
        </div>
        <div>
          <select formControlName="sortBy">
            <option value="null">By relevance</option>
            <option value="1">By price low to high</option>
            <option value="2">By price high to low</option>
          </select>
        </div>
      </li>
    </ul>
  </aside>
</form>
